body {
   width: 1400px; 
   margin: auto;
}

header {
    display: flex;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li {
    justify-content: space-between;
}

nav li a {
    text-decoration: none;
}

